{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}Home

{% block content %}
<table style="width:700px" border='1'>
<tr>
    <th>ID</th>
    <th>Product Title</th>
    <th>PRICE</th>
    <th>Author</th>
    <th>Created on</th>
    <th>In Stock</th>
<tr>
{% for product in product_list %}
<tr>
    <td>{{product.id}}</td>
    <th>{{product.title}}</th>
    <td>{{product.price}}</td>
    <td>{{product.author}}</td>
    <td>{{product.created}}</td>
    <td>{{product.in_stock}}</td>
<tr>
{% endfor %}
</table>
{% endblock content %}